.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    column-gap: 30px;
    row-gap: 20px;
  }
  
  .grid-item {
    margin-top: 20px;
    border: 1px gray solid;
    height: 50px;
    border-radius: 15px;
    padding-top: 7px;
    padding-left: 15px;
  }
  
  .grid-item:hover {
    border-color: black;
    border-width: 1px;
  }
  
  nb-icon {
    font-size: 30px;
  }
  
  #create-btn {
    margin-top: 20px;
    margin-left: 1050px;
  }
  
  .pointer {
    cursor: pointer;
  }
  
  .spacer {
    flex: 1 1 auto;
  }