<nb-layout>

  <nb-layout-header>
    <div class="button-actions">
      <app-navbar></app-navbar>
    </div>
  </nb-layout-header>

    <nb-sidebar>
      <app-sidebar></app-sidebar>
    </nb-sidebar>

    <nb-layout-column class="colored-column-basic">
      <nb-card>
        <nb-card-body>
          <!-- <nb-route-tabset [tabs]="tabs">
          </nb-route-tabset> -->
          <router-outlet></router-outlet>
        </nb-card-body>

      </nb-card>
      
    </nb-layout-column>
  <nb-layout-footer>
    Contact us
  </nb-layout-footer>

</nb-layout>