
<div  style="display:flex; width: 100%;">  
  <img src="https://ssl.gstatic.com/images/branding/product/1x/drive_2020q4_48dp.png">
  <h1> drive</h1>
  <button nbButton status="basic" ><nb-icon icon="search"></nb-icon></button> 
  <!-- <input style="width: 100vw; border-radius: 15px;"> -->
  <input type="text" nbInput fullWidth fieldSize="medium" placeholder="" style="width: 100vw;">
 <div style="width: 100%; margin-left: 20%; display: flex;">
  <nb-icon icon="question-mark-circle-outline" ></nb-icon>
  <nb-icon icon="settings-2-outline" style="margin-left:20px"></nb-icon>
  <nb-icon icon="more-horizontal"style="margin-left:50px"   ></nb-icon>
 

</div>
 

</div>