
    <div class="content">
      <nb-card-body class="example-items-rows">
        <button nbButton hero status="info">+ Mới</button>
      </nb-card-body>
      <div class="form-content" routerLink="/my-drive">
        <img src="../../../assets/images/storage.png" alt="" />
        <p>Drive của tôi</p>
      </div>
      <div class="form-content">
        <img src="../../../assets/images/computer.png" alt="" />
        <p>Máy tính của tôi</p>
      </div>
      <div class="form-content">
        <img src="../../../assets/images/team.png" alt="" />
        <p>Được chia sẻ với tôi</p>
      </div>
      <div class="form-content" routerLink="/recent">
        <img src="../../../assets/images/clock.png" alt="" />
        <p>Gần đây</p>
      </div>
      <div class="form-content" routerLink="/favorites">
        <img src="../../../assets/images/star.png" alt="" />
        <p>Có gắn dấu sao</p>
      </div>
      <div class="form-content" routerLink="/trash">
        <img src="../../../assets/images/recycle-bin.png" alt="" />
        <p>Thùng rác</p>
      </div>
      <hr style="border-color: black" />
      <div class="form-content">
        <img src="../../../assets/images/cloud.png" alt="" />
        <p>Bộ nhớ</p>
      </div>
      <nb-card-body>
        <nb-progress-bar
          [value]="10"
          status="primary"
          [displayValue]="true"
        ></nb-progress-bar>
      </nb-card-body>
    </div>
